<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<link href="framework/font-awesome/css/font-awesome.min.css" rel="stylesheet">
		<link href="framework/reset.css" rel="stylesheet">
		<link href="css/register.css" rel="stylesheet">
		<title>饿了么 用户注册</title>
	</head>
	<body>
		<div class="wrapper">
			<!-- header -->
			<header>
				<p>用户注册</p>
			</header>
			<!-- 表单部分 -->
			<div class="register">
				<h2>手机号注册</h2>
				<img src="img/elm-brand.png">
			</div>
			<ul class="form-box">
				<li>
					<div class="content">
						<input type="text" @blur="checkUserId" v-model="user.userId" placeholder="请输入手机号码">
					</div>
				</li>
				<li>
					<div class="content">
						<input type="password" v-model="user.password" placeholder="请输入密码">
					</div>
				</li>
				<li>
					<div class="content">
						<input type="password" v-model="confirmPassword" placeholder="请确认密码">
					</div>
				</li>
				<li>
					<div class="content">
						<input type="text" v-model="user.userName" placeholder="请输入用户名称">
					</div>
				</li>
				<li>
					<div class="title">
						请选择性别：
					</div>
					<div class="content" style="font-size: 3vw;">
						<input type="radio" v-model="user.userSex" value="1" style="width: 6vw;height: 3.2vw;">男
						<input type="radio" v-model="user.userSex" value="0" style="width: 6vw;height: 3.2vw;">女
					</div>
				</li>
			</ul>

			<div class="button-register">
				<button @click="register">注册</button>
			</div>
			<div class="brand">
				<img src="img/brand.png">
			</div>

		</div>
	</body>
</html>