/****************** 总容器 ****************/
.wrapper {
	width: 100%;
	height: 100%;
}

/****************** header ****************/
.wrapper header {
	width: 100%;
	height: 12vw;
	background-color: #0097ff;
	color: #fff;
	font-size: 4.8vw;

	position: fixed;
	left: 0;
	top: 0;
	z-index: 1000;

	display: flex;
	justify-content: center;
	align-items: center;
}

/****************** 表单部分 ****************/

.wrapper .form-box {
	width: 100%;
	margin-top: 20vw;
}

.wrapper .form-box li {
	box-sizing: border-box;
	margin: 6vw 10vw 0 10vw;
	display: flex;
	align-items: center;
	border: #f4eeee solid;
	border-width: 0px 0px 1.8px 0px;
}

.wrapper .form-box li .title {
	margin: 2vw 0vw;
	flex: 0 0 18vw;
	font-size: 3.8vw;
	font-weight: 700;
	color: #666;
}

.wrapper .form-box li .content {
	flex: 1;
	margin: 2vw 0vw 2vw 2vw;
}

.wrapper .form-box li .content input {
	border: none;
	outline: none;
	width: 100%;
	height: 4vw;
	font-size: 3.5vw;
	background-color: transparent;
}

.wrapper .button-add {
	width: 100%;
	box-sizing: border-box;
	padding: 105vw 10vw 0 10vw;
}

.wrapper .button-add button {
	width: 100%;
	height: 10vw;
	font-size: 4.5vw;
	font-weight: 550;
	color: #fff;
	background-color: #0097ff;
	border-radius: 50px;
	
	border: none;
}

