/****************** 总容器 ****************/
.wrapper{
	width: 100%;
	height: 100%;
	background-color: #F5F4F6;
	overflow: hidden;
}

/****************** header ****************/
.wrapper header{
	width: 100%;
	height: 12vw;
	background-color: #0097ff;
	color: #fff;
	font-size: 4.8vw;
	
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1000;
	
	display: flex;
	justify-content: center;
	align-items: center;
}

/****************** 总积分 ****************/
.wrapper .credit{
	width: 90%;
	height: 55vw;
	margin: 20vw auto 5vw;
	
	background-color: #fff;
	border-radius: 5vw;
	
	box-sizing: border-box;
	
	display: flex;
	flex-direction: column;
	align-items: center;
}
.wrapper .credit-icon{
	margin-top: 5vw;
}
.wrapper .credit i{
	font-size: 9vw;
	color: mediumpurple
}
.wrapper .credit h2{
	font-size: 8vw;
	margin-top: 2vw;
	margin-bottom: 1vw;
}
.wrapper .credit p{
	font-size: 3vw;
	color: #777;
	margin-bottom: 6vw;
}
.wrapper .credit .credit-use{
	width: 100%;
	box-sizing: border-box;
}
.wrapper .credit .credit-use button{
	width: 85%;
	height: 9vw;
	font-size: 3.8vw;
	font-weight: 700;
	color: #fff;
	background-color: #0097ff;
	border-radius: 10vw;
	margin-left: 7vw;
	
	border: none;
	outline: none;
}
/****************** 积分明细 ****************/
.wrapper .credit-detailed{
	width: 100%;
}
.wrapper .credit-detailed::after {
	content: "";
	display: block;
	height: 14vw;
}
.wrapper h3{
	margin-left: 6vw;
	font-size: 4vw;
}
.wrapper .credit-detailed li{
	width: 90%;
	height: 15vw;
	background-color: #fff;
	margin: 2vw auto;
	border-radius: 2vw;
	
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.wrapper .credit-detailed li .credit-detailed-left{
	margin-left: 4vw;
}
.wrapper .credit-detailed li .credit-detailed-left p:first-child{
	font-size: 3.8vw;
	color: #111;
}
.wrapper .credit-detailed li .credit-detailed-left p:last-child{
	font-size: 3vw;
	color: #777;
	margin-top: 1vw;
}
.wrapper .credit-detailed li .credit-detailed-right{
	margin-right: 4vw;
	margin-bottom: 5vw;
}
.wrapper .credit-detailed li .credit-detailed-right p{
	font-size: 3.5vw;
	color: red;
}
/****************** 底部菜单 ****************/
.wrapper .footer{
	width: 100%;
	height: 14vw;
	border-top: solid 1px #ddd;
	background-color: #fff;
	
	position: fixed;
	left: 0;
	bottom: 0;
	
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.wrapper .footer li{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	color: #999;
	user-select: none;
	cursor: pointer;
}
.wrapper .footer li p{
	font-size: 2.8vw;
	
}
.wrapper .footer li i{
	font-size: 5vw;
}