/****************** 总容器 ****************/
.wrapper{
	width: 100%;
	height: 100%;
}

/****************** header ****************/
.wrapper header{
	width: 100%;
	height: 12vw;
	background-color: #0097ff;
	
	display: flex;
	align-items: center;	
}
.wrapper header .fa-map-marker{
	margin: 0 1vw 0 3vw;
	color: #fff;
}
.wrapper header .location-text{
	font-size: 4.5vw;
	font-weight: 700;
	color: #fff;
}
.wrapper header .location-text .fa-caret-down{
	margin-left: 1vw;
}

/****************** search ****************/
.wrapper .search{
	width: 100%;
	height: 13vw;
}
.wrapper .search .search-fixed-top{
	width: 100%;
	height: 13vw;
	background-color: #0097ff;
	display: flex;
	justify-content: center;
	align-items: center;
}
.wrapper .search .search-fixed-top .search-box{
	width: 90%;
	height: 9vw;
	background-color: #fff;
	border-radius: 2px;
	
	display: flex;
	justify-content: center;
	align-items: center;
	
	font-size: 3.5vw;
	color: #aeaeae;
	font-family: "宋体";
	
	/*此样式是让文本选中状态无效*/
	user-select: none;
}
.wrapper .search .search-fixed-top .search-box .fa-search{
	margin-right: 1vw;
}