/* 通用样式 */
* {
	box-sizing: border-box;
}

.wrapper {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	background: #f5f5f7;
	/* 更加淡雅的背景 */
	overflow: auto;
}

.header {
	background-color: white;
	padding: 20px;
	text-align: center;
	font-weight: bold;
	font-size: 0.9rem;
	color: #0097ff;
	font-family: SourceHanSansCN-Bold;
}

.user-info {
	display: flex;
	align-items: center;
	padding: 20px;
	background-color: #0097ff;
}

.avatar img {
	height: 80px;
	width: 80px;
	border-radius: 50%;
	margin-right: 20px;
}

.user-details {
	color: #ffffff;
	/* 白色文字 */
}

.user-details .username {
	font-size: 1.2rem;
	margin-bottom: 10px;
}

.nav-section {
	display: flex;
	justify-content: space-between;
	margin: 20px 20px;
	background-color: #ffffff;
	padding: 15px 0;
	border-radius: 15px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.nav-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #4e4e4e;
	padding: 10px;
	flex: 1;
	text-align: center;
}

.icon {
	font-size: 24px;
	margin-bottom: 10px;
	color: #4e4e4e;
}

.instructions {
	display: flex;
	flex-direction: column;
	margin: 0 20px 20px 20px;
	background-color: #ffffff;
	padding: 15px 0;
	border-radius: 15px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.instruction-item {
	display: flex;
	justify-content: space-between;
	padding: 10px 20px;
	border-bottom: 1px solid #dfd8d8;
	cursor: pointer;
	/* 指示这是可点击的 */
}

.instruction-item:last-child {
	border-bottom: none;
	/* 去除最后一个元素的底部边框 */
}

.wrapper button {
	height: 45px;
	width: calc(100% - 40px);
	margin: 20px 20px 0 20px;
	font-size: 1rem;
	color: #fff;
	background-color: #e57373;
	/* 突出的红色按钮 */
	border-radius: 25px;
	border: none;
	cursor: pointer;
	transition: background-color 0.3s;
}

.wrapper button:hover {
	background-color: #ef5350;
	/* 悬浮时颜色 */
}