	/****************** 总容器 ****************/
	.wrapper {
		width: 100%;
		height: 100%;
		overflow: auto;
	}

	/****************** header ****************/
	.wrapper header {
		width: 100%;
		height: 12vw;
		background-color: #0097ff;
		color: #fff;
		font-size: 4.8vw;

		position: fixed;
		left: 0;
		top: 0;
		z-index: 1000;

		display: flex;
		justify-content: center;
		align-items: center;
	}

	.wrapper .register {
		margin: 30vw 0 2vw 12vw;
		position: relative;
	}

	.wrapper .register h2 {
		font-weight: 550;
		margin-bottom: 1vw;
	}

	.wrapper .register img {
		width: 60vw;
		opacity: 15%;
		position: absolute;
		top: 260%;
		left: 10%;
	}

	/****************** 表单部分 ****************/
	.wrapper .form-box {
		width: 100%;
		margin-top: 9vw;
	}

	.wrapper .form-box li {
		box-sizing: border-box;
		margin: 6vw 10vw 0 10vw;
		display: flex;
		align-items: center;
		border: #f4eeee solid;
		border-width: 0px 0px 1.8px 0px;
	}

	.wrapper .form-box li .title {
		margin: 2vw 0vw;
		flex: 0 0 24vw;
		font-size: 3.8vw;
		font-weight: 700;
		color: #666;
	}

	.wrapper .form-box li .content {
		flex: 1;
		margin: 2vw 0vw 2vw 2vw;
	}

	.wrapper .form-box li .content input {
		border: none;
		outline: none;
		width: 100%;
		height: 4vw;
		font-size: 4vw;
		background-color: transparent;
	}

	.wrapper .button-register {
		width: 100%;
		box-sizing: border-box;
		padding: 10vw 10vw 0 10vw;
	}

	.wrapper .button-register button {
		width: 100%;
		height: 11vw;
		font-size: 5vw;
		font-weight: 550;
		color: #fff;
		background-color: #0097ff;
		border-radius: 50px;

		border: none;
		outline: none;
		
		position: relative;
	}

	.wrapper .brand {
		position: absolute;
		bottom: 0;
		left: 37.5vw;
	}

	.wrapper .brand img {
		width: 25vw;
	}