/****************** 总容器 ****************/
.wrapper{
	width: 100%;
	height: 100%;
	background-color: #F5F4F6;
}

/****************** header ****************/
.wrapper header{
	width: 100%;
	height: 12vw;
	background-color: #0097ff;
	color: #fff;
	font-size: 4.8vw;
	
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1000;
	
	display: flex;
	justify-content: center;
	align-items: center;
}
/****************** h地址列表 ****************/
.wrapper .address{
	width: 100%;
	margin-top: 12vw;
	margin-bottom: 4vw;
}
.wrapper .address li{
	width: 100%;
	height: 18vw;
	background-color: #fff;
	border-bottom: solid 1px #ddd;
	
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.wrapper .address li .address-info{
	width: 100%;
	margin-left: 3vw;
}
.wrapper .address li .address-info .address-info-detailed{
	display: flex;
	align-items: center;
}
.wrapper .address li .address-info .address-info-detailed p:first-child{
	font-size: 5vw;
	color: #777;
	margin-right: 2vw;
}
.wrapper .address li .address-info .address-info-detailed p:last-child{
	font-size: 5vw;
	color: #777;
}
.wrapper .address li .address-info p{
	font-size: 4vw;
	color: #777;
}
.wrapper .address li .address-icon{
	display: flex;
	margin-right: 4vw;
}
.wrapper .address li .address-icon i{
	font-size: 5vw;
	color: #777;
	margin-right: 2vw;
}
.wrapper .address-new{
	width: 100%;
	height: 15vw;
	background-color: #fff;
	border-top: solid 1px #ddd;
	border-bottom: solid 1px #ddd;
	
	display: flex;
	justify-content: center;
	align-items: center;
}
.wrapper .address-new i{
	font-size: 4vw;
	color: #0097ff;
	margin-right: 2vw;
}
.wrapper .address-new p{
	font-size: 4vw;
	color: #0097ff;
}
/****************** 底部菜单 ****************/
.wrapper .footer{
	width: 100%;
	height: 14vw;
	border-top: solid 1px #ddd;
	background-color: #fff;
	
	position: fixed;
	left: 0;
	bottom: 0;
	
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.wrapper .footer li{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	color: #999;
	user-select: none;
	cursor: pointer;
}
.wrapper .footer li p{
	font-size: 2.8vw;
	
}
.wrapper .footer li i{
	font-size: 5vw;
}